@font-face {
    font-family: svn-gilroy;
    src: url(../font/svn-gilroy-medium.otf);
}

@font-face {
    font-family: svn-gilroy;
    src: url(../font/svn-gilroy-bold.otf);
    font-weight: bold;
}

* {
    font-family: svn-gilroy, Helvetica, sans-serif;
}

body {
    font-size: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    color: rgb(58, 58, 250);
    text-decoration: underline;
}

a:active {
    color: green;
}

.uppercase {
    text-transform: uppercase;
}

.thumbnail {
    border: 2px solid black;
}

.sort {
    border: 1px solid #E0E0E0;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}

.head-index {
    background: url(../img/index-background.jpg) center;
    background-size: cover;
}

.head-about {
    background: url(../img/about-background.jpg) center;
    background-size: cover;
    width: 100%;
    height: 780px;
}

.about-title {
    letter-spacing: 0.2em;
    padding: 365px 0 365px 280px;
    margin: 0;
}

.voucher {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
}

.new-customer {
    background: url(../img/index-bg-new-customer.jpg) center;
    background-size: cover;
}

.contact-sec1 p:first-child {
    font-size: 48px;
}

.contact-sec2 p:first-child {
    font-size: 24px;
}

.contact-sec2 p:nth-child(2),
.contact-sec2 p:nth-child(2) a {
    color: #828282;
    font-size: 16px;
}

.submit {
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 16px 63px;
}

.submit:hover {
    background-color: grey;
}

.price {
    color: #828282;
    text-decoration: line-through;
}

.size-active {
    border-radius: 11px;
    background-color: transparent;
}

.size {
    border: none;
    background-color: transparent;
}

.size:hover {
    border-radius: 11px;
    background-color: #828282;
}

.footer {
    background-color: #F2F2F2;
    color: #828282;
    padding: 70px;
}

.footer a {
    color: black;
}

.footer1 {
    max-width: 1000px;
    margin: auto;
    padding: 0 0 70px;
}

#ins {
    color: #9B51E0;
    text-decoration: underline;
}

.cart p {
    display: none;
}

.cart:hover p {
    display: block;
}

.new-customer p:first-child {
    font-size: 48px;
}

.new-customer p:nth-child(3) {
    font-size: 36px;
}

.tick::before {
    content: url(../img/tick.svg);
}

.middle img {
    vertical-align: middle;
}

.reven {
    letter-spacing: 0.5em;
    text-align: right;
    margin: 355px 117px 358px;
}

.path a::before {
    content: url(../img/detail-muiten.svg);
}

.path a:first-child::before {
    content: '';
}

.grey-list li::marker {
    color: #BDBDBD;
}

.red-list li::marker {
    color: #EB5757;
}

.menu {
    max-width: 1000px;
    margin: auto;
}

.thumbnail-unselect {
    opacity: 0.5;
}

.thumbnail-unselect:hover {
    opacity: 1;
}

.color {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: none;
}

.color:hover {
    opacity: 0.5;
}

.bg-black {
    background-color: #000000;
}

.bg-grey {
    background-color: #E0E0E0;
}

.bg-red {
    background-color: #EB5757;
}

.bg-orange {
    background-color: #F2994A;
}

.bg-yellow {
    background-color: #F2C94C;
}

.bg-green {
    background-color: #219653;
}

.bg-blue {
    background-color: #2F80ED;
}

.bg-violet {
    background-color: #9B51E0;
}

.hover-opacity:hover {
    opacity: 0.7;
}

.cookie {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    max-width: 390px;
}

.cookie a {
    color: white;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex-container {
    display: flex;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}


/* dau >: chi ap dung cho cac element duoi 1 cap */

.flex-container-column>img {
    width: 80px;
}