a {
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    color: rgb(58, 58, 250);
    text-decoration: underline;
}

a:active {
    color: green;
}

.uppercase {
    text-transform: uppercase;
}

@font-face {
    font-family: svn-gilroy;
    src: url(../font/svn-gilroy-medium.otf);
}

@font-face {
    font-family: svn-gilroy;
    src: url(../font/svn-gilroy-bold.otf);
    font-weight: bold;
}

* {
    font-family: svn-gilroy, Helvetica, sans-serif;
}

body {
    font-size: 100%;
}

.thumbnail {
    border: 2px solid black;
}

.sort {
    border: 1px solid #E0E0E0;
}